In [ ]:
"""1. Write a python lambda function to summarize arguments a, b, and c and return the result.
Data:
    5, 6, 2
Expected outout:
    13"""
add = lambda a,b,c: a+b+c

result = add(5,6,2)
print(result)

13

In [ ]:
"""2. write a python lambda function to multiply argument a with argument b and return the result.
Data:
    5, 6
Expected output:
    30"""
multiply = lambda a,b: a*b
result = multiply(5,6)
print(result)

30

In [ ]:
"""3. Write a python lambda function to add 10 to argument a, and return the result.
Data:
    a = 5
Expected output:
    15"""
add = lambda a:a+10
result = add(5)
print(result)

15

In [ ]:
"""4. Write a python lambda function to filter out only the even items from a list.
Data:
    my_list = [1, 5, 4, 6, 8, 11, 3, 12]
Expected output:
    [4, 6, 8, 12]"""
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
even_numbers = list(filter(lambda x : x%2==0,my_list))
result = even_numbers
print(even_numbers)

[4, 6, 8, 12]

In [ ]:
"""5.  Write a python lambda function to double each item in a list using map().
Data:
    my_list = [1, 5, 4, 6, 8, 11, 3, 12]
Expected output:
    [2, 10, 8, 12, 16, 22, 6, 24]"""
my_list = [1, 5, 4, 6, 8, 11, 3, 12]
double = list(map(lambda x : x*2,my_list))
print(double)

[2, 10, 8, 12, 16, 22, 6, 24]

In [ ]:
"""6. Write a python code to illustrate filter() with lambda() to return only the odd numbers from a given list.
Data:
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
Expected output:
    [5, 7, 97, 77, 23, 73, 61]"""
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
odd_numbers = list(filter(lambda x : x % 2 != 0 , li))
print(odd_numbers)

[5, 7, 97, 77, 23, 73, 61]

In [ ]:
"""7. Write a python code to filter people above 18 years using lambda function.
Data:
    ages = [13, 90, 17, 59, 21, 60, 5]
Expected output:
    [90, 59, 21, 60]"""
ages = [13, 90, 17, 59, 21, 60, 5]
valid_age = list(filter(lambda x : x>18,ages))
print(valid_age)

[90, 59, 21, 60]

In [ ]:
"""8. Write a python function which has a lambda function to return double and triple of a given value.
Data:
    value = 5
Expected output:
    Value : 5
    Double : 10
    Triple : 15"""
double = lambda value : value*2
triple = lambda value : value*3
value = 5
result1 = double(value)
result2 = triple(value)
print(result1,result2)

10 15

In [ ]:
"""9. Write a python code to illustrate map() with lambda() to get double of each items in a given list.
Data:
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
Expected output:
    [10, 14, 44, 194, 108, 124, 154, 46, 146, 122]"""

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
double = list(map(lambda x : x*2,li))
print(double)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [ ]:
"""10. Write a python program to convert lower cases in a given list of strings into upper cases using lambda() and map() function.
Data:
    animals = ['dog', 'cat', 'parrot', 'rabbit']
Expected output:
    ['DOG', 'CAT', 'PARROT', 'RABBIT']"""

animals = ['dog', 'cat', 'parrot', 'rabbit']

new_animals = list(map( lambda animal : animal.capitalize(),animals))
result = new_animals
print(result)

['Dog', 'Cat', 'Parrot', 'Rabbit']