In [ ]:
#SETS
"""1. Write a Python program to convert and print the given list into a set.
    Data:
        x = [1,2,3,4]
    Expected Output:
        x = {1,2,3,4}"""

before = [1,2,3,4]
after = set(before)
print(after)

{1, 2, 3, 4}

In [ ]:
"""2.Write a Python program to find the length of a given set.
    Data:
        x = {4,5,6,7,9,2}
    Expected Output:
        6"""
x = {4,5,6,7,9,2}
print(len(x))

6

In [ ]:
"""3. Write a Python program to create a shallow copy of sets.
    Data:
        a = ["Boss","Siva"]
    Expected Output:
        {"Boss","Siva"}"""
#by using method
import copy
a = ["Boss","Siva"]
shallow_copy = set(copy.copy(a))
print(shallow_copy)

# another syntax by using function
new_shallow = set(a.copy())
print(new_shallow)

{'Siva', 'Boss'}
{'Siva', 'Boss'}

In [ ]:
"""4. Write a Python program to remove an element from the given set using discard().
    Data:
        x= {0,1,2,3,4,5}
    Expected Output:
        {0, 1, 2, 4, 5}"""

x= {0,1,2,3,4,5}
x.discard(0)
print(x)

{1, 2, 3, 4, 5}

In [ ]:
"""5. Write a Python program to add elements to a given set.
    Data:
        {"Boss"}
    Expected Output:
        {"Boss", "Siva", "Suresh"}"""
Names = {"Boss"}
Names.update(["Siva","Suresh"])
print(Names)

{'Suresh', 'Siva', 'Boss'}

In [ ]:
"""6. Write a Python program to remove an element from the given set using pop().
    Data:
        x = {1,2,3,4,5,6}
    Expected Output:
        {1, 2, 3, 4}"""

x = {1,2,3,4,5,6}
x.pop()
print(x)

{2, 3, 4, 5, 6}

In [ ]:
"""7. Write a Python program to print each elements of a given set using for loop.
    Data:
        x = {1, 2, 3, 4, 5}
    Expected Output:
        1
        2
        3
        4
        5"""
x = {1, 2, 3, 4, 5}
for i in x:
  print(i)

1
2
3
4
5

In [ ]:
"""8. Write a Python program to print the intersection of two given sets.
   Data:
        x = {"boss", "karthi"}
        y = {"karthi", "siva"}
    Expected Output:
        {'karthi'}"""
x = {"boss", "karthi"}
y = {"karthi", "siva"}
z = x.intersection(y)
print(z)
# another syntax
new = x&y
print(new)

{'karthi'}
{'karthi'}

In [ ]:
"""9. Write a Python program to print the union of two given sets.
    Data:
        x = {"boss", "karthi"}
        y = {"karthi", "siva"}
    Expected Output:
        {'boss', 'siva', 'karthi'}"""
x = {"boss", "karthi"}
y = {"karthi", "siva"}
un = x.union(y)
print(un)
#another syntax
uni = x|y
print(uni)

{'siva', 'karthi', 'boss'}
{'siva', 'karthi', 'boss'}

In [ ]:
"""10. Write a Python program to print the symmetric difference between two given sets.
    Data:
        x = {"boss","karthi"}
        y = {"karthi","siva"}
    Expected Output:
        {'boss', 'siva'}"""
x = {"boss","karthi"}
y = {"karthi","siva"}
new = x.symmetric_difference(y)
print(new)
#another syntax
new_1 = x^y
print(new_1)

{'siva', 'boss'}
{'siva', 'boss'}

In [ ]:
"""11. Write a Python program to clear a given set.
    Data:
        x ={"Kutta", "Puppy"}
    Expected Output:
        The set x has elements : {'Puppy', 'Kutta'}
        After clearing the set x : set()"""
x ={"Kutta", "Puppy"}
print(" the set x has elements : " , x)
x.clear()
print(" after clearing the set x elements : " , x)

 the set x has elements :  {'Puppy', 'Kutta'}
 after clearing the set x elements :  set()

In [ ]:
"""12. Write a Python program to print the maximum value from a given set.
    Data:
        x = {23, 45, 12, 56, 87}
    Expected Output:
        87"""
x = {23, 45, 12, 56, 87}
max_element = max(x)
print(max_element)

87

In [ ]:
"""Write a Python program to print the minimum value from a given set.
    Data:
        x = {23, 56, 2, 3, 78, 6}
    Expected Output:
        2"""
x = {23, 56, 2, 3, 78, 6}
min_element = min(x)
print(min_element)

2

In [ ]:
"""14. Write a Python program to remove the intersection of a 2nd set from the 1st set using difference_update().
    Data:
        x = {1, 2, 3, 4, 5}
        y = {4, 5, 6, 7, 8}
    Expected Output:
        {1, 2, 3}"""
x = {1, 2, 3, 4, 5}
y = {4, 5, 6, 7, 8}
x.difference_update(y)
print(" after removal of elements: ",x)

 after removal of elements:  {1, 2, 3}

In [ ]:
"""15. Write a Python program to update the 1st set with the intersection elements from another set using intersection_update().
    Data:
        x = {"apple", "banana", "cherry"}
        y = {"google", "microsoft", "apple"}
    Expected Output:
        {"apple"}"""
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(" updated set x with y : ",x)

 updated set x with y :  {'apple'}

In [ ]:
"""16. Write a Python program to zip two sets into a list.
    Data:
        {1, 2, 3},{"a", "b", "c"}
    Expected Output:
        [(1, 'c'),(2, 'b'),(3, 'a')]"""

x = {1, 2, 3}
y = {"a", "b", "c"}
combining = zip(x,y)
new = list(combining)
print(" into list conversion : ", new)

 into list conversion :  [(1, 'a'), (2, 'c'), (3, 'b')]

In [ ]:
"""7. Write a Python program to convert a list into a set.
    Data:
        x = [5,3,4,1,2]
    Expected Output:
        {1,2,3,4,5}"""
x = [5,3,4,1,2]
conversion = set(x)
print(conversion)

{1, 2, 3, 4, 5}

In [ ]:
"""18. Write a python program to check if a set is a subset of another set using comparison operator. Return True if yes, False if not.
    Data:
        x = {"1", "2"}
        y = {"1", "2", "3"}
    Expected Output:
        True
        False"""
x = {"1", "2"}
y = {"1", "2", "3"}
if x.issubset(y) and x != y:
    print(" TRUE")
else:
  print("FALSE")

 TRUE

In [ ]:
"""19. Write a python program to check if a set is a subset of another set using issubset(). Return True if yes, False if not.
    Data:
        x = {4, 5}
        y = {1, 2, 3, 4, 5}
    Expected Output:
        True
        False"""

x = {4, 5}
y = {1, 2, 3, 4, 5}
if  is_subset == x.issubset(y):
  print("true")
else:
  print(" false")

true