In [ ]:
# SET
# un-ordered
# no-indexing
#removes duplicate
#mutable means add(),remove()
set_1 = (1,2,3,4,5)
print(len(set_1))

5

In [ ]:
# union function
set_1 = {1,2,3,4,5,6,7}
set_2 = {8,9,10,11,12,13,14}
union = set_1.union(set_2)
print(union)
# another syntax
union_set = set_1 | set_2
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
#intersection
set_3 = {2,3,4,5,6}
set_4 = {8,3,5,6,9,10,11}
intersection = set_3.intersection(set_4)
print(intersection)
#another syntax
intersection_set = set_3 & set_4
print(intersection_set)

{3, 5, 6}
{3, 5, 6}

In [ ]:
# add and remove
set = {1,2,3,4,5}
set.add(36)
print(set)
set_1 = {38,37,80,43,21}

set_1.remove(21)
print(set_1)

{1, 2, 3, 4, 5, 36}
{80, 37, 38, 43}